[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyExprPortal"]
	path = shinyExprPortal
	url = https://github.com/c4tb/shinyexprportal
